.msg:hover {
    background-color: #2E3035;
}

.username, .msg {
    font-size: .9rem;
}

.username {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: #F2F3F5;
    align-self: start;
}

.data {
    color: #7C828B;
    font-size: .8rem;
}

.msg-individual {
    color: #D1D4D8;
    align-self: flex-end;
}