.nav-link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.nvv {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.navbar-collapse .navbar-nav {
    display: flex;
    column-gap: 1rem;
}

.navbar-expand-lg {
    display: flex;
}

.guildSeparator {
    height: 2px;
    width: 46px;
    border-radius: 1px;
    background-color: #35363C;
}

.point {
    display: inline-block;
    position: absolute;
    right: 99.75%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%; /* Inicialmente, o elemento é um círculo */
    text-decoration: none;
    transition: height 0.3s; /* Adicionamos uma transição para a propriedade border-radius */
}

.circleIconButton, .fa-circle-user, .fa-discord {
    width: 45px;
    height: 45px;
    background-color: #41434A;
    border-radius: 50%; /* Inicialmente, o elemento é um círculo */
    text-decoration: none;
    transition: border-radius 0.3s; /* Adicionamos uma transição para a propriedade border-radius */
}

.circleIconButton {
    color: #23A559;
}

.nav-link:hover .fa-discord {
    border-radius: 12px;
    background-color: #5865F2; /* Quando o cursor passa por cima, alteramos o border-radius para 0, tornando o elemento um quadrado */
    color: white;
}

.nav-link:hover .point {
    border-radius: 12px;
    height: 20px;
    color: white;
}

.nav-link:hover .fa-discord {
    border-radius: 12px;
    background-color: #5865F2; /* Quando o cursor passa por cima, alteramos o border-radius para 0, tornando o elemento um quadrado */
    color: white;
}

.circleIconButton:hover ,.fa-circle-user:hover {
    border-radius: 12px;
}
  
