.chat-div {
    display: grid;
    grid-template-rows: 13.7fr 1fr;
    row-gap: 1.5rem;
    flex-direction: column;
    padding: 1.5rem 0;
    height: 100%;
    width: 100%;
}

.chat-submit-container {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

.chat-text-area {
    border-radius: .5rem;
    padding: 0 1.2rem;
    padding-right: .8rem;
    background-color: var(--chat-background-and-btn-color);
    height: 100%;
}

form, input {
    color: #C7CACE;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: .9rem;
    letter-spacing: .5px;
}

/* --------------- BOTÕES --------------- */

.btn {
    background: none;
    color: var(--chat-background-and-btn-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover .fa-plus {
    background-color: var(--btn-hover);
}

.btn:hover :where(.fa-circle-plus, .fa-note-sticky, .fi, .fa-gift, .fa-face-smile){
    color: var(--btn-hover);
}

.upload {
    padding: .4rem 1.1rem;
    padding-left: 0;
}

.fa-circle-plus {
    font-weight: 900;
    color: var(--btn-background);
    text-align: center;
    font-size: 1.25rem;
}

.right-btns {
    height: 100%;
    display: flex;
    gap: .9rem;
}

.fa-gift, .fa-note-sticky, .fi, .fa-face-smile {
    color: var(--btn-background);
}

.fi-sr-gif-square {
    height: 54.26%;
    font-size: 1.5rem;
    padding: 0;
}

.gif {
    padding: 0;
    padding-right: .1rem;
}

.fa-note-sticky {
    font-size: 1.5rem;
}

.fa-face-smile {
    font-size: 1.5rem;
}

/* --------------- HOVERS ESPECIAIS --------------- */

@keyframes popup {
    0% {
        opacity: 0;
        display: block;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.025)
    }
}

@keyframes end-popup {
    0% {
        transform: scale(1.025); 
        opacity: 1;
    }

    100% {
        transform: scale(1); 
        opacity: 0;
        display: none;
    }
}

.gift::before {
    padding: .5rem .8rem;
    width: 11%;
    height: fit-content;

    position: absolute;
    top: 81.5%;  
    
    border-radius: .3rem;
    text-align: start;

    color: #C7CACE;
    background-color: black;

    content: 'Reforce os parças! Dê vantagens superbacanas de bate-papo com o Nitro.';

    animation-name: end-popup;
    animation-duration: .1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.gift:hover::before {
    display: block;
    animation-name: popup;
}